#footer {
  background: transparent !important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before {
  background: transparent !important;
}
.recent-posts {
  background: transparent !important;
}
#nav {
  background: transparent !important;
}
.recent-post-item {
  background: transparent !important;
}
#aside-content .card-widget {
  background: transparent !important;
}
#footer-wrap a,
#footer-wrap {
  color: #000;
}
#card-info-btn {
  background: transparent !important;
}
#pagination .page-number.current {
  background: transparent !important;
  color: #000;
}
#archive {
  background: transparent !important;
}
#page {
  background: transparent !important;
}
